@font-face {
  font-family: "inter";
  src: url(Inter-Regular.otf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #23252C;
  color: whitesmoke;
  font-family: "inter",sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.image {
  width: 317px;
  /* margin-top: 30px; */
  margin-bottom: -6px;
  border-radius: 12px;
}

.sub {
  margin-top: -12px;
  color: #F3BF99;
}

.email-btn {
  box-sizing: border-box;
  height: 40px;
  width: 155px;
  margin-right: 6px;
  font-family: 'inter',sans-serif;
  border-radius: 6px;
  border: 1px solid white;
}

.linkedin-btn {
  box-sizing: border-box;
  height: 40px;
  width: 155px;
  font-family: 'inter',sans-serif;
  border-radius: 6px;
  border: 1px solid #5093E2;
  /* text-align: center; */
  background-color: #5093E2;
}

.logo1 {
  width: 19px;
  height: 19px;
  margin-right: 4px;
}

.logo {
  width: 19px;
  margin-right: 4px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-btn,.linkedin-btn:hover{
  cursor: pointer;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.p {
  text-align: justify;
  /* background-color: #5093E2;  */
  width: 300px;
  margin:-8px auto 0 auto;
}

.title {
  margin-right: 240px;
  margin-top: 9px;
}

.title2 {
  margin-right: 200px;
  margin-top: 9px;
}

.footer {
  text-align: center;
  background-color: #161619;
  margin: 15px auto 0 auto;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 317px;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.card {
  background-color: #1A1B21;
  width: 317px;
  margin: 30px auto 0 auto;
  padding: 4px;
  border-radius: 12px;
}